@page "/"
@model LibraryManagement.Pages.ItemsToBorrow.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].RunTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].isBorrowable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryItem[0].BorrowerDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LibraryItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @(string.Concat(item.Title.Split(' ').Select(w => w.First())).ToUpper())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isBorrowable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowerDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>